h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1158px;
  padding: 0 15px;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
  
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
 
}
.logo-text-header {
  justify-content: flex-start;
  margin-right: 76px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.active {
  color: #404bbf;
}
.active::after{
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  content: '';
  display: block;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.menu-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.logo-studio {
  color: #2e2f42;
}

.menu {
  display: block;
  padding: 24px 0 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover {
  color: #404bbf;
}

.menu:focus {
  color: #404bbf;
}
.menu-first.active{
  color: #404bbf;
 
 }



.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.email {
  display: inline;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email:hover {
  color: #404bbf;
}
.email:focus {
  color: #404bbf;
}

/*first section*/
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/people-office.jpg);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
}

.button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/*second section*/
.features-list {
  display: flex;

  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon-box-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.feature {
  width: calc((100% - 72px) / 4);
}

.header-feature {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-feature {
  
  font-weight: 500;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  letter-spacing: 0.02em; 
}

/*third section*/

.our-team {
  background: #f4f4fd;
}
.header-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.members {
  display: flex;
  gap: 24px;
}
.member {
  width: calc((100% - 72px) / 4);

  gap: 32px;
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.member-info {
  padding: 32px 0;
}
.member-team-position {
  font-weight: 400;
  font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 text-align: center;
 color: #434455;
  margin-bottom: 8px;
}

.member-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.a-icon-ourteam{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icon-ourteam:hover{
    background-color: #404bbf;

}
.a-icon-ourteam:focus{
    background-color: #404bbf;
}
.a-icon{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icon:hover{
    background-color: #31d0aa;
}
.a-icon:focus{
    background-color: #31d0aa;
}
.icon-box {
 
  width:40px;
  height: 40px;
 
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.icons-ourteam{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px; 
}
.icon{
   fill:  #f4f4fd;
}
/*section 4*/

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42; 
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
 
}
.project-card {
  width: calc((100% - 48px) / 3);
  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.project-card:hover{
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.overlay-container{
    position: relative;
    overflow: hidden;
}




.text-overlay {
    position: absolute;
    top:0;
    bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: start;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}
.project-card:hover .text-overlay {
    transform: translateY(0);
    opacity: 1;
}

.card-info {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  position: relative;
  z-index: 10; 
}

.card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.card-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.card-content:hover{
    transform: translateY(0%);
}

/*footer*/
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-all {
  display: flex;
  align-items: baseline;
}
.footer-block {
  display: block;
  margin-right: 120px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-text {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 208px;
  height: 80px;
}
.social-media-p {
  text-align: start;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.email-input{
  margin-left: 80px;

}

.form-subscribe{
  gap: 24px;
  display: flex;
  flex-direction: row;
}

.email-subscribe-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe{
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  font-weight: 400;
  font-size: 12px;
 line-height: 2;
 letter-spacing: 0.04em;
 padding-left: 16px;
 cursor: pointer;
  color:#ffffff;
}
.subscribe::placeholder{
  
  color: #ffffff;
 
}

.subscribe-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 0px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  margin-left: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}
.icon-frame{
  margin-left: 16px;
}

  


/*modal-window*/
.modal-overlay {
  position: fixed; /* Фиксированное положение на экране */
  top: 0; /* От верхней границы */
  left: 0; /* От левой границы */
  width: 100%; /* На всю ширину экрана */
  height: 100%; /* На всю высоту экрана */
  background-color: rgba(46, 47, 66, 0.4); /* Полупрозрачный фон */
  z-index: 999; /* Высокий слой отображения */
  display: flex; /* Для выравнивания по центру */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  opacity: 1; /* По умолчанию скрыто */
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal {
  position: absolute; /* Абсолютное позиционирование относительно overlay */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
  max-width: 408px; /* Фиксированная ширина */
 
  background: #fcfcfc; /* Белый фон */
  border-radius: 4px; /* Закруглённые углы */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 2px 1px rgba(0, 0, 0, 0.2); /* Тень */
  padding: 24px; /* Внутренние отступы */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Анимация */
}


.modal-overlay.is-open{
  pointer-events:auto;
  opacity:1;
}

.modal-form{
  display: flex;
  flex-direction: column;
  
  position: relative; 
}

  
.reset{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: #E7E9FC;
  width: 24px;
  height: 24px;
  color: #2E2F42;
  text-align: center;
  position: absolute;
  top:24px;
  right:24px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reset:hover{
  background-color: #404BBF;
  border: none;
}
.reset:focus{
  background-color: #404BBF;
  color: #fff;
  border: none;
}
.reset.icon-close-black:hover{
   fill:#ffffff
}

.reset.icon-close-black:focus{
  fill:#ffffff
}

.header-form{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 72px;
  margin-bottom: 16px;
  
}


.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.icon-input{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form.textarea {
  color: rgba(46, 47, 66, 0.4); 
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  width: 360px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
}

.input-form.textarea:hover {
  border: 1px solid #4d5ae5;
 
}

.input-form.textarea:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

textarea::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2E2F42;
}

textarea:focus::placeholder {
  color: #4d5ae5;
}

.label-form{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

input[type="checkbox"] {
  margin-right: 8px; 
}

.input-form{
  
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-input:focus-within {
  border: 1px solid #4D5AE5; 
}

.input-form:focus {
  outline: none; /*  стандартный фокус браузера */
}

.wrapper-input:focus-within .icon-input {
  fill: #4d5ae5; /* блакитний кол иконки */
}
.wrapper-input:focus-within {
  color: #4d5ae5; /* колір д для активного стану */
}



.wrapper-input {
  position: relative;
  display: flex;
  align-items: center;
  color: #2E2F42; /* Базовий колір */
}



.wrapper-input .icon-input {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  padding: 3px 0px;
  width: 18px;
  height: 24px;
 
}

.privacy-police{
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.form-btn{
  display: block;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  cursor: pointer;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  align-self: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff; 
  margin-bottom: 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover{
 background: #404BBF ;
}
 
.label-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.checkbox {
  letter-spacing: 0.04em;
  color: #8e8f99;;
  line-height: 1.17;
  font-size: 12px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  display: none; /* Скрываем стандартный чекбокс */
}

.checkmark {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #2E2F42;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent; /* Прозрачный фон по умолчанию */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.privacy-police:hover {
  color: #404BBF;
}










